modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 40394784
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
